<h2>タスク一覧</h2>
<p><%= notice %></p>
<table>
  <thead>
    <tr>
      <th><%= Task.human_attribute_name(:title) %></th>
      <th><%= Task.human_attribute_name(:content) %></th>
      <th><%= Task.human_attribute_name(:deadline) %></th>
      <th><%= Task.human_attribute_name(:status) %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class="class: 'task_list'"><%= task.title %></td>
        <td class="class: 'task_list'"><%= task.content %></td>
        <td class="class: 'task_list'"><%= task.deadline %></td>
        <td><%= task.status %></td>
        <td><%= link_to "詳細",task_path(task.id) %></td>
        <td><%= link_to "編集",edit_task_path(task.id) %></td>
        <td><%= link_to "削除",task_path(task.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "作成",new_task_path %>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>