<h1>管理者画面ユーザーデータ</h1>
<%= link_to "新規作成", new_admin_user_path %>
<p><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th><%= User.human_attribute_name(:name) %></th>
      <th><%= User.human_attribute_name(:email) %></th>
      <th>タスク数</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.tasks.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>